@import url('variables-3.css');

body {
    font-size: var(--body-font-size);
    margin: var(--margin-spacing);
    color: var(--text-color);
    background-color: var(--background-color);
}

header h1 {
    font-size: var(--header-font-size);
    color: var(--secondary-color);
}

h2 {
    color: var(--primary-color);
    margin: var(--margin-spacing) 0;
}

footer p {
    color: var(--secondary-color);
    text-align: center;
    margin-top: var(--margin-spacing);
}

a {
    color: var(--primary-color);
}

/* Alternate row styling */
ol li:nth-child(odd), ul li:nth-child(odd) {
    background-color: rgba(44, 62, 80, 0.1);
}

ol li:nth-child(even), ul li:nth-child(even) {
    background-color: rgba(236, 240, 241, 0.1);
}

/* Dynamic Theme Switcher */
.theme-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    cursor: pointer;
}
